<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to web application of <b>Tanveer Ahmad Khan</b> <%= @user.name %></h1>
	<h3>You have successfully signed up for tnvrworld.in</h3>
	<h3>Your user ID is your email</h3>
	<h6><strong>password</strong> is not sent in email for security reasons</h6>
	<br><br><br>
	<h3>
		Click <%= link_to "here", @url %> to login.
	</h3>
</body>
</html>